<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
<div class="container">
    <header>
        {% include logo.layout with logo.data only %}
        <menu>HERE WILL BE MENU</menu>
    </header>
    <div class="content">
        {% include article.layout with article.data only %}
    </div>
</div>
</body>
</html>