<form action="/admin" method="post">
    {#<input name="login" type="text" placeholder="LOGIN" />#}
    <input name="password" type="password" placeholder="PASSWORD" />
    <input type="submit" placeholder="PASSWORD" />
</form>
