{% extends 'html.php.twig' %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/frontend/build/css/admin.css"/>
{% endblock %}
{% block main %}
    <main class="admin">
        <header>
            <div>
                <h1><a href="/admin">Административная панель</a></h1>
            </div>
        </header>
        <div class="r">
            {% include 'admin/sidebar.php.twig' %}
            <div class="c-m-9 region_content">
                {% include content %}
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="/frontend/build/js/admin.js"></script>
{% endblock %}
