<form data-ajax="form" data-ajax-to=".region_content" action="/admin/save/settings" method="post">
    <label for="email">EMAIL</label>
    <input name="email" type="text" value="{{ email }}" />
    <label for="password">PASSWORD</label>
    <input name="password" type="text" value="{{ password }}" />
    <input type="submit" value="Сохранить" />
</form>
