<aside class="c-m-3">
    <nav data-ajax="loadLink" data-ajax-to=".region_content">
        <ul>
            <li>
                <a>Страницы</a>
                <nav>
                    {% for page in pages %}
                        <a href="/admin/page/{{ page.id }}" data-title="{{ page.title }}">{{ page.title }}</a>
                    {% endfor %}
                </nav>
            </li>
            <li><a href="/admin/import">Импорт</a></li>
            <li><a href="/admin/settings">Настройки</a></li>
        </ul>
    </nav>
    <a href="/admin/logout">Выход</a>
</aside>
