<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <title>Тест</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!--<meta http-equiv="refresh" content="1">-->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid">
    <header class="r">
        <div class="c-m-8 c-l-6 c-h-5 block__brand">
            <a href="localhost:3000">
                <img src="img/logo.png" alt="Логотип"/>
            </a>
        </div>
        <div class="c-s-6 c-m-4 c-l-3 c-h-2 block__callback">
            <a href="#" class="field">
                <i class="field__icon fa fa-phone-square fa-2x"></i>
                <input type="button" value="Обратный звонок" class="field__button" />
                <!--<span class="field__button" >Обратный звонок</span>-->
            </a>
        </div>
        <div class="c-s-6 c-m-6 c-l-3 block__phones">
            <div class="r field__phone">
                <span class="os-t-2 c-t-4 c-s-3 os-m-4 os-l-0 c-l-4 field__operator">Kyivstar</span>
                <a href="tel:+380975343332">+38 (097) 534 33 32</a>
            </div>
            <div class="r field__phone">
                <span class="os-t-2 c-t-4 c-s-3 os-m-4 os-l-0 c-l-4 field__operator">MTS</span>
                <a href="tel:+380665713332">+38 (066) 571 33 32</a>
            </div>
            <div class="r field__phone">
                <span class="os-t-2 c-t-4 c-s-3 os-m-4 os-l-0 c-l-4 field__operator">Life</span>
                <a href="tel:+380935203332">+38 (093) 520 33 32</a>
            </div>
        </div>
        <div class="c-t-6 c-m-3 os-l-8 c-l-2 os-h-0 c-h-1 block__cart">
            <div class="field">0 товаров</div>
        </div>
        <div class="c-t-6 c-m-3 c-l-2 c-h-1 block__user">
            <div class="field"><a href="#">Вход</a></div>
            <div class="field"><a href="#">Регистрация</a></div>
        </div>
    </header>
    <menu class="r block__menu">
        <li class="c-m-2 active"><a href="#"><i class="fa fa-home fa-lg"></i><span>О компании</span></a></li>
        <li class="c-m-2"><a href="#"><i class="fa fa-money fa-lg"></i><span>Доставка и оплата</span></a></li>
        <li class="c-m-2"><a href="#"><i class="fa fa-info-circle fa-lg"></i><span>Гарантия и возврат</span></a></li>
        <li class="c-m-2"><a href="#"><i class="fa fa-question-circle fa-lg"></i><span>Как заказать</span></a></li>
        <li class="c-m-2"><a href="#"><i class="fa fa-envelope fa-lg"></i><span>Контакты</span></a></li>
    </menu>
    <main>main</main>
    <aside>sidebar</aside>
    <footer>footer</footer>
</div>
</body>
</html>