@import "default/reset";
@import "default/extend";
@import "default/configs/default";
@import "default/grid";

@import "components/header";
@import "components/menu";
@import "components/footer";
@import "components/sidebar";
@import "components/content";

//i {
//  float: left;
//}

body {
  font-family: 'Roboto Condensed', sans-serif;
  //padding: 0 1.5rem;
  //background: #F1F1F1;
  background: #E8E8E8;
}

.ajax-loader {
  position: fixed;
  top: 0;
  //visibility: hidden;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid .4rem transparent;
  border-top-color: indianred;
  border-right-color: indianred;
  margin: .5rem;
  animation: rotate .6s infinite linear;
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
