.block__content {
  padding: 1rem;
  background: white;
  color: #444;

  //> h1, div {
  > h1 {
    text-align: center;
    text-transform: uppercase;
  }

  > div {
    text-align: center;
  }

  > table {
    width: 100%;
    color: #444;

    td {
      padding: .5rem;
    }

    .summary {
      white-space: nowrap;
    }

    > thead {
      text-transform: uppercase;
      //background: #66625d;
      //background: #E6AE68;
      background: #BD8465;
      //color: #333;
      color: white;
    }

    > tbody {
      tr {
        &:nth-child(2n) {
          //background: #d8d8d8;
          background: #F1F1F1;
        }
      }

      .price {
        min-width: 7rem;
        color: #A54141;
      }

      .quantity {
        margin-right: .3rem;
        padding: 0;
        width: 2rem;
      }

      .cart-quantity {
        min-width: 4.5rem;
      }

      .add-to-cart {
        min-width: 5rem;

        > label {
          float: left;
        }
      }

      .price, .summary, .cart-quantity {
        text-align: right;
      }
    }

    > tfoot {
      > .summary {
        background: #F9CF94;
      }

      .element_products-count, .element_total-cost {
        text-align: right;
      }
    }

    .remove {
      text-align: center;
    }
  }

  > a {
    float: right;
    text-transform: uppercase;
    margin-top: .5rem;
    padding: 1rem;
    background: #D25757;
    color: white;
  }
}
