aside {
  padding: 1.5rem;
  //background: red;
  color: #444;
}

.block__search {
  > input[type=submit] {
    min-width: 6.8193356990814203988371389186795rem;
  }
}

.block__categories {
  padding: 1rem 0;

  > ul {
    > li {
      &:nth-child(2n) {
        background: #DEDEDE;
      }

      &.active {
        background: indianred;
        color: white;
      }

      > a {
        padding: .25rem;
      }
    }
  }
}
