.vin-ref {
  text-transform: uppercase;
  margin-top: 1rem;
  padding: .5rem;
  border: solid .2rem #a3a29b;
  //background: #F9CF94;
  background: #f6f9f4;
  color: #444;
}

aside {
  padding: 1.5rem;
  //background: red;
  color: #444;
}

.block_search {
  > input[type=submit] {
    min-width: 6.8193356990814203988371389186795rem;
  }
}

.block_categories {
  padding: 1rem 0;

  > ul {
    > li {
      //background: #cccccc;

      &:nth-child(2n) {
        background: #DEDEDE;
      }

      > a {
        padding: .25rem;
        transition: padding-left .4s, background .2s, color .2s;

        &:hover {
          background: #bbbbbb;
          color: #f1f1f1;
          padding-left: 1rem;
        }

        &.active {
          padding-left: 1rem;
          background: indianred;
          color: white;
        }
      }
    }
  }
}
