{#<ul class="block block__dynamic block-{{ __self.name }}">#}
    {#{% for data in __data_list %}#}
        {#<li>{% include __self.template with data %}</li>#}
    {#{% endfor %}#}
{#</ul>#}
<ul class="block block_dynamic block-{{ name }}">
    {% for data_item in data %}
        <li>{% include template with data_item %}</li>
    {% endfor %}
</ul>
