<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
<div class="container">
    {{ ns }}
    <header data-request-update=".block-logo">
        <div data-request="logo">{% include logo.layout with logo.data only %}</div>
        <menu>HERE WILL BE MENU</menu>
    </header>
    <section data-request="content">{% include article.layout with article.data only %}</section>
</div>
</body>
</html>