*, *:before, *:after {
    //all: unset;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body, :--control {
    all: unset;
}

head {
    display: none;
}

header {
    display: block;
}

// remove inner border on focus in Mozilla
button::-moz-focus-inner {
    border: none;
}

[contenteditable] {
    -webkit-user-modify: read-write;
}

:--heading {
    display: block;
    font-weight: bold;
}

strong {
    font-weight: bold;
}
