@import "framework/index.pcss";

main {
    width: 100%;
}

:root, body {
    height: 100%;
}

:--region {
    padding: .5rem;
}

label {
    padding: .4rem .2rem;
}

form, :--control {
    border-radius: .2rem;
}

:--control {
    margin: .5rem;
}
