$grid-columns:        12;
$grid-columns-margin: 1rem;
$grid-column-name:    'c';
$grid-row-name:       'r';
$grid-offset-name:    'os';
///////////////////////////    tiny screen      small screen      medium screen     large screen      huge screen
/////////////////////////// vertical phone  horizontal phone             tablet          desktop     wide desktop
$grid-breakpoints-names:  (            't',              's',               'm',             'l',             'h' );
$grid-breakpoints-values: ( /*       <34em */           34em,              48em,            62em,            75em );
$container-widths:        ( /*        100% */           36em,              45em,         58.75em,         71.25em );
