html {
  font: {
    family: sans-serif;
    size: 16px;
    weight: 300;
  }
  box-sizing: border-box;
  //overflow-x: hidden;
  overflow-y: scroll;
}

*, :before, :after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, hr, p, figure {
  margin: 0;
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, input {
  //margin-bottom: .5rem;
  padding: .5rem;
}

aside {
  width: 100%;
}

article, aside {
  //padding: 1rem;
}

p {
  padding: .5rem;
}

h1 {
  font-size: 2em;
}

menu, ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  //color: inherit;
  text-decoration: none;
  //line-height: 1;
}

input, select, textarea {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

hr {
  border-style: solid;
}

input, img, svg {
  vertical-align: top;
}

svg {
  width: 100%;
  height: 100%;
}

input[type='submit'], input[type='button'], select {
  cursor: pointer;
}