:root {
    --color-primary: #93ce4b;
    --color-secondary: #e9c666;
    --color-info: #3294CE;
    --color-success: #41c183;
    --color-error: tomato;
    --color-warning: gold;
    --color-neutral: silver;
}
