{% if main %}
{#{% extends main %}#}
{% endif %}

{% block callback %}
    <div class="form_callback-wrapper">
        <div class="form_callback">
            <header class="r"><i class="fa fa-close fa-2x"></i></header>
            <form data-ajax="form" data-ajax-to=".callback-status" data-ajax-src="callback"
                  class="r callback-status" action="/form/callback/send" method="post">
                <label for="phone" class="r">
                    <span>Ваш телефон</span>
                    <input type="text" name="phone" required />
                </label>
                <label for="name" class="r">
                    <span>Ваше имя</span>
                    <input type="text" name="name" required />
                </label>
                {#<div class="r">#}
                {#<h3 data-ajax-put="status"></h3>#}
                {#</div>#}
                <div class="r">
                    <input class="button_callback-send" type="submit" value="Перезвоните мне" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
