<footer>
  <div class="c-s-4">
    <h3>Наш адресс</h3>
    {#<p>г. Днепропетровск,<br />пр-т Поля (Кирова), 103</p>#}
    <iframe class="os-s-1 c-s-10" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.5419262930827!2d35.01806880098438!3d48.44613080847008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe31591bfba23%3A0x71a338e4504d9a7b!2z0L_RgNC-0YHQvy4g0J7Qu9C10LrRgdCw0L3QtNGA0LAg0J_QvtC70Y8sIDEwMywg0JTQvdGW0L_RgNC-zIEsINCU0L3RltC_0YDQvtC_0LXRgtGA0L7QstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA0OTAwMA!5e0!3m2!1sru!2sua!4v1466677788349" width="600" height="115" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="c-s-4">
    <h3>Информация</h3>
    <nav data-ajax="loadLink" data-ajax-to=".region_content">
      {% for link in menu_links %}
        <a data-title="{{ link.text }}" href="/page/{{ link.alias }}">{{ link.text }}</a>
      {% endfor %}
    </nav>
  </div>
  <div class="c-s-4">
    <h3>Наши контакты</h3>
    <div class="block_phones">
      <div class="r field_phone">
        <span class="c-t-5 field_operator">Kyivstar</span>
        <a href="tel:+380975343332" class="c-t-7"> +38 (097) 534 33 32</a>
      </div>
      <div class="r field_phone">
        <span class="c-t-5 field_operator">MTS</span>
        <a href="tel:+380665713332" class="c-t-7"> +38 (066) 571 33 32</a>
      </div>
      <div class="r field_phone">
        <span class="c-t-5 field_operator">Life</span>
        <a href="tel:+380935203332" class="c-t-7"> +38 (093) 520 33 32</a>
      </div>
      <div class="r field_phone">
        <span class="c-t-5 field_operator">E-mail</span>
        <a class="c-t-7">avtoshop2016@gmail.com</a>
      </div>
    </div>
  </div>
  <p class="rights">© 2016 avtomagazin.dp.ua. Все права защищены.</p>
</footer>
