{% extends 'html.php.twig' %}

{% block main %}
    {% include 'header.php.twig' %}
    <div class="content">
        {% include 'sidebar.php.twig' %}
        {#{% block main_content %}#}
        {#{% endblock %}#}
        <div data-ajax-put="content"
             class="c-m-9 block__content">
            {% include content %}
        </div>
    </div>
    {% include 'footer.php.twig' %}
{% endblock %}