{#{% extends 'header.php.twig' %}#}

{#{% block menu %}#}
    <menu data-ajax="link"
          data-ajax-to="content"
          {#data-ajax-mod="append"#}
          class="r block__menu links_pages">
        {% for link in menu_links %}
            <li>
                <a data-title="{{ link.text }}" href="/page/{{ link.alias }}">
                    <i class="fa fa-{{ link.icon }} fa-lg"></i>
                    <span>{{ link.text }}</span>
                </a>
            </li>
        {% endfor %}
    </menu>
{#{% endblock %}#}
