{#{% extends 'header.php.twig' %}#}

{#{% block menu %}#}
    <menu data-ajax="loadLink" data-ajax-to=".region_content"
          class="r block_menu links_pages">
        {% for link in menu_links %}
            <li>
                <a data-title="{{ link.text }}" href="/page/{{ link.alias }}">
                    <i class="fa fa-{{ link.icon }} fa-lg"></i>
                    <span>{{ link.text }}</span>
                </a>
            </li>
        {% endfor %}
    </menu>
{#{% endblock %}#}
