<aside class="c-m-3">
  <div class="block__search">
    <input type="search" placeholder="Поиск по коду..." />
  </div>
  <div class="block__categories">
    <ul>
    {% for category in categories %}
        <li>
<!--          <i class="fa fa-gear" style="float: left;"></i>-->
          <a href="{{ home }}/category/{{ category.id }}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</aside>
