<aside class="c-m-3">
    <form data-ajax="form-search" data-title="Результаты поиска" class="block__search">
        <input type="search" placeholder="Поиск по коду..." />
        <input type="submit" value="Поиск" />
    </form>
  <div class="block__categories">
    <ul data-ajax="link">
    {% for key, category in categories %}
        <li>
          <a data-title="{{ category.name }}" href="{{ home }}/product/{{ category.id }}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</aside>
