<h3>Page: {{ info.page }}</h3>
<ol class="block block_dynamic block-{{ name }}">
    {% for content_item in content %}
        <li>{% include template with content_item only %}</li>
    {% endfor %}
</ol>
